<body>
<nav class="button">
  <div class="logo">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png" width="50" height="50" alt="">
  </a>
</div>
  <div class="links">
    <ul class="buttons">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Peliculas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Series</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Ingresar &#8594; </a>
      </li>
    </ul>
  </div>
</nav>
    <section name="header" class="header">
<div class="container-h">
  <div class="text1">PelisUP!</div>
  <div class="text2">Plataforma para ver peliculas y series😉</div>
</div>
    </section>
  <section class="seekers">
  <div class="container-c1">
  <input  class="search" type="seeker" placeholder="Buscar peliculas y series">
  </div>
    <div class="selector">
     
       <button  class ="selector-link1" href="#">Todos</button>
       <button  class ="selector-link2" href="#">Peliculas</button>
       <button  class ="selector-link3" href="#">Series</button>
      
    </div>
    <div class="all-text poppins">
      <h3>Todos </h3>
      <p>(120)</p>
      </div>
    <section class="gallery">
      
<div class="container-movies">
  <div class="box"><img src="../assets/img/portadas/img1.png" width="365" height="510" alt="">
    <div class="text">Black widow</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img2.png"  width="365" height="510" alt="">
    <div class="text">Shang Chi</div><div class="rating"> <div class="numrating">&#9734; 7.9</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img3.png" width="365" height="510" alt="">
    <div class="text">Loki</div><div class="rating"> <div class="numrating">&#9734; 8.4</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img4.png" width="365" height="510" alt="">
    <div class="text">How I Met Your Mother</div><div class="rating"> <div class="numrating">&#9734; 8.3</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img5.png" width="365" height="510" alt="">
    <div class="text">Money Heist</div><div class="rating"> <div class="numrating">&#9734; 8.3</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img6.png" width="365" height="510" alt="">
    <div class="text">Friends</div><div class="rating"> <div class="numrating">&#9734; 8.8</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img7.png" width="365" height="510" alt="">
    <div class="text">The Big Bang Theory</div><div class="rating"> <div class="numrating">&#9734; 8.1</div></div></div>
  <div class="box"><img src="../assets/img/portadas/img8.png" width="365" height="510" alt="">
    <div class="text">Two And a Half Men</div><div class="rating"> <div class="numrating">&#9734; 7 </div></div></div>
</div>
</section>





<!--- <div class="text-indicator"> 
      <p>Todos(120)</p>
    </div>
  <div class ="movies-gallery">
    <div class="box">
    <a class="movie" href="#">
      <img src="" alt="1">
    </a>
  </div>
    <div class="box">
    <a class="movie" href="#">
        <img src="" alt="1">
    </a>
  </div>
    <div class="box">
    <a class="movie" href="#">
        <img src="" alt="1">
    </a>
  </div>
    <div class="box">
    <a class="movie" href="#">
        <img src="" alt="1">
    </a>
  </div>
    <div class="box">
    <a class="movie" href="#">
        <img src="" alt="1">
    </a>
  </div>
    <div class="box">
    <a class="movie" href="#">
        <img src="" alt="1">
    </a>
    </div>
  </div>
 -->







 
  </section>
 
    <!---<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  

</body>

<router-outlet></router-outlet>
