
    body{
    height: 300vh;
     
     background: #141e30;
     background: -webkit-linear-gradient(to right, #243b55, #141e30);
     background: linear-gradient(t
     o right,
     #243b55, 
     #141e30);
     color: #ebeef5;
     font-family: Poppins;
     background-attachment: fixed;
} 
nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.logo{
    Width:27.48px ;
    Height: 32px;
    Top : 4px;
    margin: 12px 125.6px;

}
.links{
    height: 100%;
    width: 50%;
    display: flex;
}
.buttons{
    height: 100%;
    width: 50%;
    margin: 20px 0 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item {
    position: relative;
    display: flex ;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;/*sacar el subrayado */
    color: white;
}
.header{
height: 30vh;
display: flex;
}
.container-h{
  
    flex-direction: column;
    height:120px;
    width:588px;
    margin: 160px 0px 1472px 120px;
}
.text1{
    font-size: 64px;
}
.text2{
    font-size: 16px;
    line-height: 24px;
    color: #8E95A9;
}
.seekers{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: start;
}
.container-c1{
display: flex;
margin: 100px 0 0 120px;


}
.search{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    width: 344px;
    Height: 64px;
    margin-right: 176px;
    left: calc(50% - 344px/2);
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
}
.selector{
    height:56px;
    width:386px;
    margin: 85px 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    padding: 8px;
}

.selector-link1{
    height:40px;
    width:115px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #7B6EF6;
    border-radius: 8px;
    border: none;
}
.selector-link2{
    height:40px;
    width:140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    text-decoration: none;
    color: white;
    border: none;
   
}
.selector-link3{
    height:40px;
    width:115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    text-decoration: none;
    color: white;
    border: none;   
}
.all-text {
    width: 20%;
    margin-top: 0px;
    margin-left: 120px;
    font-size:  25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    color: #767E94;
}
.gallery{
    height: 150vh;
    display: flex;
    justify-content:center;
    align-self: center;


}

.container-movies{

    display:grid;
    position: relative;
    grid-template-columns: 380px 380px 380px 380px;
    grid-template-rows: 600px 600px 600px 600px;
    grid-gap: 50px;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;

}
.box{
    display: flex;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    padding: 8px;
    border-radius: 8px;

}
.text{
    position: absolute;
    margin: 540px 16px 24px;
    font-size: 17px;
}
.rating{
    margin: 10px 8px;
    display: flex;
    position: absolute;
    padding: 8px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}
.numrating{
    Width: 13,33px;
    Height: 13,23px;
    Top: 1,39px;
    Left: 1,33px;
    color: #FFAD49;
}
